html, body, app-root {
  height: 100%;
  margin: 0;
}
body {
  background-image: url('/assets/immagini/Football-Images.jpg') !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}
app-root {
  background: transparent !important;
  min-height: 100vh !important;
}
/* fallback che mette l'immagine dietro gli elementi con uno pseudo-elemento */
:root::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url('/assets/immagini/Football-Images.jpg') center/cover no-repeat;
  z-index: -1;
  pointer-events: none;
}

.squadraCard{
  background-color: rgba(128, 128, 128, 0.478) !important;
  border-color: rgb(0, 0, 0) !important;
}

.contatoreCard{
  background-color: rgba(128, 128, 128, 0.478) !important;
  border-color: black !important;
}

.list-group{
    width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5); /* nero trasparente */
  z-index: 9999; /* sopra tutto */
  display: block;
}

