<!--menu-->
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand fs-1 p-0" href="#">FANTAMICI </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active fs-4" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" href="#">Calendario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" href="#">Classifiche</a>
        </li>
        <li class="nav-item dropdown">
          <a
            #toggleEl
            class="nav-link dropdown-toggle fs-4"
            href="#"
            role="button"
            (click)="toggleSquadre($event)"
            [attr.aria-expanded]="ariaExpanded"
          >
            Squadre
          </a>

          <ul #menuEl class="dropdown-menu" [class.show]="ariaExpanded">
            <li *ngFor="let squadra of squadre; trackBy: trackBySquadra">
              <button class="dropdown-item">{{ squadra.nomeSquadra }}</button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" style="max-width: 1000px">
  <div class="d-flex flex-row gap-4 w-100 align-items-start mt-4">
    <!-- INPUT GROUP -->
    <div class="flex-fill">
      <div class="input-group">
        <span
          class="input-group-text flex-shrink-0"
          id="inputGroup-sizing-default"
          style="width: 130px"
        >
          Cerca Giocatore
        </span>
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          [(ngModel)]="input"
          (input)="mostra()"
        />
        <button
          (click)="cancella()"
          class="btn btn-primary flex-shrink-0"
          style="background-color: black; width: 120px"
        >
          Cancella
        </button>
      </div>
      <!-- Lista giocatori sotto l'input -->
      <ul class="list-group mt-2">
        <li
          class="list-group-item"
          *ngFor="let giocatore of giocatori; trackBy: trackByGiocatore"
          (click)="seleziona(giocatore)"
        >
          {{ giocatore }}
        </li>
      </ul>
    </div>
    <!-- CARD AFFIANCATA -->
    <div class="flex-fil">
      <div class="card text-center">
        <h5 class="card-title p-3 fs-2" style="color: rgba(0, 255, 255, 0.868)">
          {{ playerLive }}
        </h5>
        <div
          class="card-body d-flex flex-row gap-3 justify-content-center"
          style="background-color: rgba(0, 0, 0, 0.492)"
        >
          <div class="contatoreCard border rounded p-3 bg-light flex-fill" style="width: 280px">
            <p class="card-text mb-2 fw-bold fs-3" style="color: rgba(0, 255, 255, 0.868)">
              CREDITI
            </p>
            <p class="card-text mb-2 fs-1" style="color: rgba(0, 255, 255, 0.868)">
              {{ contatore }}
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <button
                [disabled]="selezionato != true"
                (click)="aumenta()"
                class="btn btn-outline-primary"
                style="border-color: black; color: black"
              >
                +
              </button>
              <button
                (click)="diminuisci()"
                [disabled]="contatore == 0"
                class="btn btn-outline-primary"
                style="border-color: black; color: black"
              >
                -
              </button>
              <button
                [disabled]="selezionato != true"
                (click)="aumentaDieci()"
                class="btn btn-outline-primary"
                style="border-color: black; color: black"
              >
                +10
              </button>
              <button
                (click)="aggiudica()"
                class="btn btn-outline-primary"
                style="border-color: black; color: black"
                [disabled]="!selezionato || showCard"
              >
                Aggiudica
              </button>
            </div>
          </div>
          <div class="contatoreCard border rounded p-3 bg-light flex-fill" style="width: 200px">
            <p class="card-text mb-2 fw-bold fs-3" style="color: rgba(0, 255, 255, 0.868)">TIMER</p>
            <p class="card-text mb-2 fs-1" style="color: rgba(0, 255, 255, 0.868)">{{ timer }}</p>
            <div class="d-flex gap-2 justify-content-center">
              <button [disabled]="selezionato != true" (click)="start()" class="btn btn-success">
                Start
              </button>
              <button (click)="stop()" class="btn btn-danger">Stop</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CARD SQUADRE -->
<div class="card text-center mt-3 mx-3">
  <h5 class="card-title p-3 fs-1" style="color: rgba(0, 255, 255, 0.868)">SQUADRE</h5>

  <div
    class="card-body d-flex flex-row gap-1 justify-content-start overflow-auto py-2"
    style="background-color: rgba(0, 0, 0, 0.492)"
  >
    <div
      *ngFor="let squadra of squadre; trackBy: trackBySquadra"
      class="squadraCard border rounded pt-3 bg-light d-flex flex-column align-items-center justify-content-start fw-bold text-center"
      style="
        flex: 0 0 calc(100% / 7);
        max-width: calc(100% / 7);
        color: rgba(0, 255, 255, 0.868);
        font-size: 1.2em;
      "
    >
      {{ squadra.nomeSquadra.toUpperCase() }}

      <div class="mb-2" style="margin-top: 10px; background-color: yellow !important"></div>

      <!-- PORTIERI -->
      <div class="card-body d-flex flex-column gap-1 py-1" style="width: 200px">
        <h5 class="card-title p-1 fs-6 text-start" style="width: 160px; color: black">PORTIERI</h5>

        <div class="d-flex flex-column align-items-center" style="width: 160px">
          <ul class="list-group" style="width: 190px">
            <li
              *ngFor="let giocatore of squadra.giocatoriPerRuolo.P; trackBy: trackByGiocatore"
              class="list-group-item text-start fs-6"
              style="
                padding-left: 5px;
                width: 200px;
                background-color: rgb(0, 128, 0);
                color: rgb(255, 234, 234);
                border-color: rgba(0, 176, 0, 0.597);
                border: 1px solid rgba(0, 0, 0, 0.518);
                border-radius: 5px;
                margin-bottom: 5px;
                font-weight: normal;
              "
            >
              {{ playerMap[giocatore]?.displaySurname }} ({{ playerMap[giocatore]?.team }})
              <span class="badge text-bg-primary rounded-pill ms-2">{{
                contatorePlayer[giocatore]
              }}</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- DIFENSORI -->
      <div class="card-body d-flex flex-column gap-1 py-2" style="width: 200px">
        <h5 class="card-title p-1 fs-6 text-start" style="width: 160px; color: black">DIFENSORI</h5>

        <div class="d-flex flex-column align-items-center" style="width: 160px">
          <ul class="list-group" style="width: 190px">
            <li
              *ngFor="let giocatore of squadra.giocatoriPerRuolo.D; trackBy: trackByGiocatore"
              class="list-group-item text-start fs-6"
              style="
                border: 1px solid rgba(0, 0, 0, 0.518);
                border-radius: 5px;
                padding-left: 5px;
                margin-bottom: 5px;
                width: 200px;
                background-color: rgb(0, 91, 0);
                color: rgb(255, 234, 234);
                font-weight: normal;
              "
            >
              {{ playerMap[giocatore]?.first }} ({{ playerMap[giocatore]?.team }})
              <span class="badge text-bg-primary rounded-pill ms-2">{{
                contatorePlayer[giocatore]
              }}</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- CENTROCAMPISTI -->
      <div class="card-body d-flex flex-column gap-1 py-2" style="width: 205px">
        <h5 class="card-title p-1 fs-6 text-start" style="width: 160px; color: black">
          CENTROCAMPISTI
        </h5>

        <div class="d-flex flex-column align-items-center" style="width: 170px">
          <ul class="list-group" style="width: 190px">
            <li
              *ngFor="let giocatore of squadra.giocatoriPerRuolo.C; trackBy: trackByGiocatore"
              class="list-group-item text-start fs-6"
              style="
                padding-left: 5px;
                width: 200px;
                background-color: rgb(0, 0, 142);
                color: rgb(255, 234, 234);
                border: 1px solid rgba(0, 0, 0, 0.518);
                border-radius: 5px;
                margin-bottom: 5px;
                font-weight: normal;
              "
            >
              {{ playerMap[giocatore]?.first }} ({{ playerMap[giocatore]?.team }})
              <span class="badge text-bg-primary rounded-pill ms-2">{{
                contatorePlayer[giocatore]
              }}</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- ATTACCANTI -->
      <div class="card-body d-flex flex-column gap-1 py-2" style="width: 200px">
        <h5 class="card-title p-1 fs-6 text-start" style="width: 170px; color: black">
          ATTACCANTI
        </h5>

        <div class="d-flex flex-column align-items-center" style="width: 160px">
          <ul class="list-group" style="width: 190px">
            <li
              *ngFor="let giocatore of squadra.giocatoriPerRuolo.A; trackBy: trackByGiocatore"
              class="list-group-item text-center fs-6"
              style="
                padding-left: 5px;
                width: 200px;
                background-color: rgb(185, 0, 0);
                color: rgb(255, 234, 234);
                border: 1px solid rgba(0, 0, 0, 0.518);
                border-radius: 5px;
                margin-bottom: 5px;
                font-weight: normal;
              "
            >
              {{ playerMap[giocatore]?.first }} ({{ playerMap[giocatore]?.team }})
              <span class="badge text-bg-primary rounded-pill ms-2">{{
                contatorePlayer[giocatore]
              }}</span>
            </li>
          </ul>
        </div>
      </div>
      <span class="badge text-bg-primary ms-2 mb-2" style="background-color: black !important">{{
        squadra.creditiIniziali
      }}</span>
    </div>
  </div>
</div>

<!-- MODAL OVERLAY -->
<div *ngIf="showCard" class="d-flex justify-content-center align-items-center modal-overlay">
  <div
    class="card text-center mt-3 mx-3 d-flex justify-content-center align-items-center"
    style="max-width: 700px"
  >
    <div class="position-relative">
      <button
        (click)="close()"
        type="button"
        class="btn-close mt-2 position-absolute"
        style="top: 10px; right: -320px; font-size: large; background-color: red"
      ></button>
    </div>
    <h5 class="card-title p-3 fs-2" style="color: white">SQUADRE</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-4 mb-3" *ngFor="let squadra of squadre; trackBy: trackBySquadra">
          <button
            (click)="inserisci(squadra.nomeSquadra, playerLive)"
            class="btn btn-outline-primary w-100"
          >
            {{ squadra.nomeSquadra }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<ul class="list-group">
  @for (giocatore of squadra.giocatori; track giocatori) {
  <li
    class="list-group-item align-items-center text-center"
    style="font-size: x-small; list-style: none"
  >
    {{ giocatore.split(' ').slice(1).join(' ') }}
  </li>
</ul>-->
